.epic-page {
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
    margin-left: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
}



.epic-page .menu-filter {
    width: 150px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #636e72;
    gap: 2rem;
}


.epic-page .menu-filter form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    width: 100%;
}


.epic-page .menu-filter form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.epic-page .menu-filter form label input[type='date'],
.epic-page .menu-filter form label select {
    font-size: .7rem;
    padding: .5rem;
}

.epic-page .menu-filter form button {
    background-color: rgb(87, 51, 244);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    padding: .2rem;
}


.epic-page .menu-filter ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}


.epic-page .menu-filter ul h3 {
    padding-left: 1rem;
}


.epic-page .menu-filter ul li {
    list-style: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}

.epic-page .menu-filter ul li:last-child {
    border-bottom: 1px solid black;
}