.filter-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.407);
}


.home-page {
    margin-left: 300px;
    color: whitesmoke;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}


.home-page h1 {
    font-size: 3.5rem;
    line-height: 100px;
    letter-spacing: 2px;
}