.filter-background {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/jpg/background.jpg');
    background-size: cover;
}


.home-page {
    padding-left: 300px;
    color: whitesmoke;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.407);
}


.home-page h1 {
    font-size: 3.5rem;
    line-height: 100px;
    letter-spacing: 2px;
}


@media (max-width: 800px) {
    .home-page h1 {
        font-size: 1.5rem;
        line-height: 100px;
        letter-spacing: 1px;
    }

}