.mars-weather-page {
    margin-left: 200px;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: whitesmoke;
    background-image: url('../assets/jpg/rover-curiosity.jpg');
    background-size: cover;
    padding: 0 2rem;
}


.mars-weather-page h2 {
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}


.mars-weather-page .weather-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.214);
    border-radius: 30px;
    padding: 2rem;
}


.mars-weather-page .weather-cards-container .weather-card {
    background-color: rgba(37, 38, 39, 0.515);
    width: 200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1rem;
    gap: .2rem;
}



.mars-weather-page .weather-cards-container .weather-card:first-child {
    background-color: transparent;
    width: 100%;
    height: 250px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}


.mars-weather-page .weather-cards-container .weather-card:first-child * {
    color: whitesmoke;
    width: 40%;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
}

.mars-weather-page .weather-cards-container .weather-card:first-child h3 {
    font-size: 3rem;
}

.mars-weather-page .weather-cards-container .weather-card:first-child span {
    font-size: 2.5rem;
}

@media (max-width: 600px) {
    .mars-weather-page .weather-cards-container .weather-card:first-child * {
        color: whitesmoke;
        width: 40%;
        font-size: 1rem;
        font-weight: bolder;
        margin: 0;
    }

    .mars-weather-page .weather-cards-container .weather-card:first-child h3 {
        font-size: 1.5rem;
    }

    .mars-weather-page .weather-cards-container .weather-card:first-child span {
        font-size: 1rem;
    }
}