.mars-rover-photos-page {
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    margin-left: 200px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    box-sizing: border-box;
    background-image: url('../assets/jpg/rover-curiosity.jpg');
    background-size: cover;
}


.mars-rover-photos-page h2 {
    width: 100%;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}


.mars-rover-photos-page .photos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;

}


.mars-rover-photos-page .mars-rover-photos-card {
    width: 120px;
    height: 120px;
}

.mars-rover-photos-page .mars-rover-photos-card img {
    width: 120px;
    height: 120px;
    cursor: pointer;
}


.mars-rover-photos-page .buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}


.mars-rover-photos-page .buttons-container button {
    padding: .5rem;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #3e5e94;
    color: whitesmoke;
}


.mars-rover-photos-page .buttons-container span {
    color: whitesmoke;
    font-weight: bold;
}


@media (max-width: 600px) {
    .mars-rover-photos-page .photos-container {
        flex-direction: column;
    }

    .mars-rover-photos-page .buttons-container {
        flex-direction: column;
    }
}