.picture-of-the-day {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 100vh;
    margin-left: 200px;
}


.picture-of-the-day form label {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: .5rem;
    color: whitesmoke;
}


.picture-of-the-day form label input[type='date'] {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(147, 128, 128);
    padding: .5rem;
}


.picture-of-the-day .card-image-of-day {
    width: 80%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: rgba(37, 38, 39, 0.515);
    border-radius: 15px;
    color: whitesmoke;
}


.picture-of-the-day h2,
.picture-of-the-day .card-image-of-day span {
    color: whitesmoke;
    padding: 0;
    margin: 0;
}


.picture-of-the-day .card-image-of-day img {
    flex-grow: 1;
    max-height: 400px;
    border-radius: 15px;
}


.picture-of-the-day .card-image-of-day .data-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: .9rem;
}


@media (max-width: 600px) {
    .picture-of-the-day h2 {
        width: 50%;
        font-size: 1rem;
    }

    .picture-of-the-day form label {
        display: none;
    }

    .picture-of-the-day .card-image-of-day {
        width: 150px;
    }

    .picture-of-the-day .card-image-of-day img {
        height: 100px;
        border-radius: 15px;
    }
}