.images-videos-page {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin-left: 200px;
    padding: 2rem;
    box-sizing: border-box;
}

.no-results {
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.images-videos-page .preview-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}


.images-videos-page .buttons-container {
    flex-grow: 1;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
}