.epic-page .epic-image-container {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.epic-page .epic-image-container h2 {
    width: 100%;
    padding: 1rem 0 0 2rem;
    color: whitesmoke;
}

.epic-page .epic-image-container .epic-image-card {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(44, 41, 41);
    padding: 1rem;
    border-radius: 15px;
    color: whitesmoke;
    font-size: .7rem;
}


.epic-page .epic-image-container img {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    flex-grow: 1;
    border-radius: 15px;
}


.epic-page .epic-image-container .epic-image-card .epic-image__data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.epic-page .epic-image-container .epic-image-card .epic-image__data .epic-image__data-items div {
    background-color: rgb(0, 0, 0);
    padding: .2rem .5rem;
    border-radius: 5px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.epic-page .epic-image-container .epic-image-card .epic-image__data span {
    color: green;
}