header {
    color: whitesmoke;
    background-color: #2d3436;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: 'Trispace', sans-serif;
    top: 0;
    left: 0;
}

header .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


header .logo {
    background-image: url('../assets/png/nasa-logo.png');
    width: 170px;
    height: 170px;
    background-size: cover;
}

header .link-to-home {
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bolder;
    margin: 0;
}


header ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}


header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    list-style: none;
    border-top: 1px solid white;
}


header ul li:last-child {
    border-bottom: 1px solid white;
}


header ul li .link-menu-item {
    text-decoration: none;
    color: whitesmoke;
}


header ul li .active {
    color: #3e5e94;
    font-weight: bolder;
}