main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    flex-grow: 1;
    color: whitesmoke;
    gap: 2rem;
}


main form {
    display: flex;
    width: 500px;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
}


main form label {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1rem;
}


main form label input[type='date'] {
    width: 100%;
}


main form button {
    width: 100px;
    height: 30px;
}



main .card-image-of-day {
    width: 60%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid black;
    background-color: rgb(44, 41, 41);
    border-radius: 15px;
}


main h2,
main .card-image-of-day h3 {
    font-size: 2rem;
}


main .card-image-of-day img {
    flex-grow: 1;
    max-width: 70%;
    border-radius: 15px;
}


main .card-image-of-day .data-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}