.picture-of-the-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    flex-grow: 1;
    gap: 2rem;
}


.picture-of-the-day form {
    display: flex;
    width: 500px;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
}


.picture-of-the-day form label {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1rem;
}


.picture-of-the-day form label input[type='date'] {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(147, 128, 128);
    padding: 1rem;
}


.picture-of-the-day .card-image-of-day {
    width: 60%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgb(44, 41, 41);
    border-radius: 15px;
    color: whitesmoke;
}


.picture-of-the-day h2,
.picture-of-the-day .card-image-of-day h3 {
    font-size: 2rem;
}


.picture-of-the-day .card-image-of-day img {
    flex-grow: 1;
    max-width: 70%;
    max-height: 800px;
    border-radius: 15px;
}


.picture-of-the-day .card-image-of-day .data-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}